body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    border: 0.2rem solid black;
    padding: 0 1rem;
  }
  
  #bookList {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav > ul > li {
    border-right: 0.2rem solid black;
    padding-right: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
  }
  
  .nav-link.active {
    color: blue;
  }
  
  #datetime-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.2rem;
  }
  
  /* --------------------- */
  
  .section {
    display: none;
  }
  
  .section.active {
    display: block;
  }
  
  #list-section.active {
    margin-bottom: 8rem;
  }
  
  #contact-section.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
  }
  
  /* ------------------------------- */
  
  .booksContainer {
    border: 2px solid black;
    padding: 0;
    margin: 0;
  }
  
  .booksContainer ul {
    width: 100%;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eachBook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  
  .eachBook p {
    max-width: 71%;
    word-wrap: break-word;
    font-weight: 900;
  }
  
  .grayBackground {
    background-color: rgba(128, 128, 128, 0.493);
  }
  
  button {
    border: 0.3rem solid black;
    background-color: white;
    font-size: 1rem;
    font-weight: 900;
  }
  
  button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  /* ---------------------- */
  
  hr {
    width: 10%;
    height: 0.17rem;
    background-color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 19rem;
    height: 2rem;
    border: 0.2rem solid black;
    font-weight: 900;
    font-size: 1rem;
  }
  
  input::placeholder {
    color: black;
  }
  
  .addContainer {
    width: 19rem;
    display: flex;
    justify-content: flex-end;
  }
  
  /* ---------------- */
  
  .copyright {
    border: 0.2rem solid black;
    padding-left: 2rem;
    margin-top: 7rem;
    font-weight: 900;
    position: fixed;
    bottom: 1rem;
    left: 1%;
    right: 1%;
    z-index: 10;
    background-color: white;
  }